/HelloWorld.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/HelloWorld.xcodeproj/project.xcworkspace/xcuserdata/Qingbo.xcuserdatad/UserInterfaceState.xcuserstate
/HelloWorld.xcodeproj/xcuserdata/Qingbo.xcuserdatad/xcschemes/HelloWorld.xcscheme
/HelloWorld.xcodeproj/xcuserdata/Qingbo.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
/HelloWorld.xcodeproj/xcuserdata/Qingbo.xcuserdatad/xcschemes/xcschememanagement.plist
